.footer {
    background-color: rgb(65, 64, 64);
    color: white;
    display: flex ;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* justify-content: space-evenly; */
    /* margin: auto; */
    /* width: 100vh; */
}
.footer_logo {
    display: flex;
    justify-content: center;
    background-color: #eef3f8;
}
.footer_logo > h2 {
    height: 22px;
    color: orange;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.footer_logo > img {
    width: 70%;
    object-fit: cover;
    margin: 0px 10px;
}
/* .footer-container {
    justify-content: space-evenly;
    margin: auto;
    height: auto;
    height: 100%;
} */
.info {
    display: flex;
    align-items: center;
    /* margin: -10px 0px; */
}
.info > a {
    color: white;
    text-decoration: none;
}
.info > a:hover {
    color: rgb(86, 86, 252);
    transition: 0.3s;
}
/* .footer-icons {
    justify-content: center;
    margin: auto;
} */
.icon {
    margin: 10px 15px;
    /* background-color: #005ea2; */
    transform: scale(1.5);
    color: whitesmoke;
    padding: 0;
    /* margin: auto; */
}
.icon:hover {
    color: rgb(86, 86, 252);
    transition: 0.3s;
}