.hero {
    position: relative;
    width: 100%;
    height: 200px;
}

.hero > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero > h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border-bottom: 1px solid white;
    text-align: center;
    margin: 0;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.5); /* Optional for better readability */
}

@media screen and (max-width: 768px) {
    .hero {
        height: 140px;
    }
}
