.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.navbar-logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.navbar-logo h2 {
    margin: 0;
    font-size: 20px;
}

.navbar-links {
    display: flex;
    list-style: none;
    padding-right: 10px;
}

.navbar-links a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.navbar-links a:hover {
    background-color: #575757;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    z-index: 2;
}

@media (max-width: 768px) {
    .navbar-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: relative;
    }

    .navbar-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}
