* {
    box-sizing: border-box;
}
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    /* padding: 1rem; */
    background-color: rgb(65, 64, 64);
    color: white;
    z-index: 2;
    width: 100%;
    /* border: 1px solid red; */
    /* transition: all 0.5s ease-in-out; */
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 0; */
}
.logo > img {
    width: 50%;
    object-fit: cover;
    /* margin-top: 0; */
}
nav > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 1.5rem 1.5rem;
    margin: 0 10px;
    cursor: pointer;
    /* height: 100%; */
}
nav > a:hover {
    color: rgb(86, 86, 252);
}
nav a.active {
    color: black;
    background-color: white;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
    /* transition: all 0.5s ease-in-out; */
    /* height: 50px; */
}
.mobile-menu-icon {
    display: none;
}

@media only screen and (max-width: 768px){
    /* .navbar {
        position: relative;
        transition: all 0.5s ease-in-out;
    } */
    .logo {
        display: flex;
        position: absolute;
        left: 10px;
        justify-content: left;
        /* margin: auto; */
        /* top: 0; */
        /* justify-content: center; */
        /* position: absolute; */
        /* top: 15px; */
        /* left: 35px; */
    }
    .logo > img {
        width: 35%;
        object-fit: cover;
        /* text-align: center; */
    }
    .nav-links {
        /* display: none; */
        visibility: hidden;
        /* transition: all 0.5s ease-in-out; */
        /* width: 0%; */
        height: 0vh;
    }
    .nav-links-mobile {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color:rgb(65, 64, 64);
        top: 75px;
        width: 100%;
        height: 100vh;
        transition: all 0.5s ease-in-out;
        opacity: 90%;
        /* align-items: center; */
        /* text-align: center; */
        /* filter: blur(1px); */
        /* height: 200px; */
    }
    nav > a {
        color: white;
        text-align: center;
        /* padding: 0; */
        margin: 0;
        /* height: auto; */
        /* width: 100%; */
        /* height: 100%; */
        /* margin: auto; */
        padding: 2rem;
        font-size: 1.8rem;
        font-weight: 600;
        /* transition: all 0.5s ease-in-out; */
    }
    .mobile-menu-icon {
        display: block;
        position: absolute;
        font-size: 30px;
        color: white;
        background-color:rgb(65, 64, 64);
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
        /* transition: all 0.5s ease-in-out; */
    }
    /* .nav-links-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: 0px;
        width: 300px;
        height: 100vh;
        background-color: rgb(65, 64, 64);
        padding: 40px 0 0 10px;
    } */
}