.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: rgb(65, 64, 64);
    color: white;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > h2 {
    /* height: 22px; */
    color: white;
    /* margin-right: 10px; */
    font-family: Arial, Helvetica, sans-serif;
    /* align-items: center; */
}
.logo > img {
    width: 15%;
    object-fit: cover;
    /* margin: 0px 10px; */
}
.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
}
/* nav {
    display: flex;
    background-color: orange;
    margin: 0;
    justify-content: left;
    padding: 16px 32px
} */
nav > a {
    color: white;
    font-weight: bolder;
    margin-right: 20px;
    padding: 10px;
    text-decoration-line: underline;
}
nav > a:hover {
    color: rgb(243, 202, 125);
}
/* .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: white;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
} */
.search {
    justify-content: right;
    padding: 10px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    color: gray;
    background-color: orange;
}
.search > input {
    outline: none;
    width: 200px;
    height: 20px;
}
.searchicon {
    background-color: #005ea2;
    color: white;
}
.navandsearch {
    display: flex;
    background-color: orange;
    justify-content: space-between;
}
@media only screen and (max-width: 768px){
    /* .mobile-nav{
        border:solid 2px red;
        display: flex;
		flex-direction: column;

    }
    .navandsearch{
        display:flex;
        flex-direction: column;
    } */
    /* nav {
        position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--mainColor);
		transition: 1s;
		transform: translateY(-100vh);
        border: 2px solid red;
    } */
    /* nav{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: orange;
        padding: 40px 0 0 10px;
        transition: 0.3s ease-in-out;
        transform: translateY(-100vh);
    }
    nav > a {
        margin-bottom: 25px;
    }
    .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    .responsive_nav{
        transform: none;
    }
    .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    } */
}