* {
    box-sizing: border-box;
}
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    background-color: rgb(65, 64, 64);
    color: white;
    /* transition: all 0.5s ease-in-out; */
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo > img {
    width: 50%;
    object-fit: cover;
}

nav > a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 15px 20px;
    margin: 0 10px;
    cursor: pointer;
}
nav > a:hover {
    color: rgb(86, 86, 252);
}
nav a.active {
    color: black;
    background-color: white;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    width: 75%;
    /* transition: all 0.5s ease-in-out; */
    /* height: 50px; */
}
.mobile-menu-icon {
    display: none;
}

@media only screen and (max-width: 768px){
    .navbar {
        /* position: relative; */
        /* transition: all 0.5s ease-in-out; */
    }
    .logo {
        display: flex;
        /* position: absolute; */
        /* top: 15px; */
        /* left: 35px; */
    }
    .nav-links {
        /* display: none; */
        visibility: hidden;
        /* transition: all 0.5s ease-in-out; */
        /* width: 0%; */
        height: 0%;
    }
    .nav-links-mobile {
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color:rgb(65, 64, 64);
        top: 75px;
        width: 100%;
        height: 100%;
        transition: all 0.5s ease-in-out;
        /* height: 200px; */
    }
    nav > a {
        color: white;
        text-align: center;
        width: 100%;
        margin: 0px;
        /* transition: all 0.5s ease-in-out; */
    }
    .mobile-menu-icon {
        display: block;
        position: absolute;
        font-size: 30px;
        color: white;
        background-color:rgb(65, 64, 64);
        border: none;
        outline: none;
        top: 15px;
        right: 25px;
        /* transition: all 0.5s ease-in-out; */
    }
    /* .nav-links-mobile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: 0px;
        width: 300px;
        height: 100vh;
        background-color: rgb(65, 64, 64);
        padding: 40px 0 0 10px;
    } */
}