.property {
    display: inline-block;
    border: 3px;
    padding: 3px;
    margin: 10px 20px;
    border-width: 2px;
    width:500px;
    background-color: lightgray;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    border-radius: 5px;
}
.images {
    width: 100%;
    border-radius: 5px;
}
.property > p {
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    /* color: goldenrod; */
}
.large {
    font-size: larger;
    /* color: rgb(65, 64, 64); */
}
.small {
    color: #636363;
    /* font-size: small; */
}