.houses > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.houses > h1 {
    color: rgb(65, 64, 64);
    border-bottom: 1px solid rgb(65, 64, 64);
    text-align: center;
}
.properties {
    display: flex;
    width:90%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin: auto;
}
/* .slidercontainer {
    width: 500px;
    height: 280px;
    margin: 0 auto;
} */

@media screen and (max-width: 768px) {
    .houses > img {
        height: 140px;
    } 
}